#studentButtonsInner{
    display: inline-grid;
    margin-right: 10px;
    margin-bottom: 10px;
}
#goodNameButton{
    border-radius: 25px;
    background: #73AD21;
    border-color: #73AD21;
    padding: 20px;
    margin-bottom: 10px;
}

#goodNameButton:hover{
    background: rgb(10, 114, 19);
    border-color:  rgb(10, 114, 19);
    color: white;
}

#badNameButton{
    border-radius: 25px;
    background: rgb(207, 45, 45);
    border-color: rgb(207, 45, 45);
    padding: 20px;
    margin-bottom: 10px;
}

#badNameButton:hover{
    background: red;
    border-color:  red;
    color: white;
}